.show-sm {
    display: block;

    @include breakpoint-up(lg) {
        display: none;
    }
}

.show-lg {
    display: none;

    @include breakpoint-up(lg) {
        display: block;
    }
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;

    &.home-background {
        background-image: url("../../images/home/background-home-mobile.jpg");

        @include breakpoint-up(sm) {
            background-image: url("../../images/home/background-home-tablet.jpg");
        }

        @include breakpoint-up(md) {
            background-image: url("../../images/home/background-home-desktop.jpg");
        }
    }

    &.destination-background {
        background-image: url("../../images/destination/background-destination-mobile.jpg");

        @include breakpoint-up(sm) {
            background-image: url("../../images/destination/background-destination-tablet.jpg");
        }

        @include breakpoint-up(md) {
            background-image: url("../../images/destination/background-destination-desktop.jpg");
        }
    }

    &.crew-background {
        background-image: url("../../images/crew/background-crew-mobile.jpg");

        @include breakpoint-up(sm) {
            background-image: url("../../images/crew/background-crew-tablet.jpg");
        }

        @include breakpoint-up(md) {
            background-image: url("../../images/crew/background-crew-desktop.jpg");
        }
    }

    &.technology-background {
        background-image: url("../../images/technology/background-technology-mobile.jpg");

        @include breakpoint-up(sm) {
            background-image: url("../../images/technology/background-technology-tablet.jpg");
        }

        @include breakpoint-up(md) {
            background-image: url("../../images/technology/background-technology-desktop.jpg");
        }
    }
}

.col {
    width: 100%;

    @include breakpoint-up(lg) {
        width: 48%;
    }
}

.main-content {
    position: relative;

    .pre-title {
        font-size: 1rem;
        padding: 0.5rem 0;
        letter-spacing: 2px;

        @include breakpoint-up(sm) {
            font-size: 1.5rem;
        }

        @include breakpoint-up(lg) {
            font-size: 2rem;
            padding: 1rem 0;
        }
    }

    .title {
        font-size: 4rem;
        letter-spacing: 14px;
        padding-bottom: 0.5rem;

        @include breakpoint-up(sm) {
            font-size: 5rem;
        }

        @include breakpoint-up(lg) {
            font-size: 8rem;
            padding-bottom: 1rem;
        }
    }

    .description {
        font-size: 1.5rem;
        padding: 0.5rem 0;
        line-height: 32px;

        @include breakpoint-up(sm) {
            line-height: 35px;
        }

        @include breakpoint-up(lg) {
            line-height: 37px;
            padding: 1rem 0;
        }
    }

    .col-explore {
        height: auto;
        justify-content: center;

        @include breakpoint-up(lg) {
            height: 100%;
            justify-content: end;
        }
    }

    .home-explore {
        height: 250px;
        width: 250px;
        background: white;
        border-radius: 50%;
        position: relative;
    }

    .explore-text {
        position: absolute;
        font-size: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 2px;
    }

    // destination -------------------------------------------------------------------------------

    .image-col {
        height: auto;

        @include breakpoint-up(lg) {
            height: 100%;
        }
    }

    .heading {
        padding: 3rem 0 1rem;
        font-size: 1.75rem;
        letter-spacing: 1px;

        .heading-index {
            color: rgba($light, 0.5);
            margin-right: 1rem;
        }
    }

    .image-container {
        padding: 2rem 0 4rem 0;

        @include breakpoint-up(lg) {
            padding: 2rem 0 0 0;
        }
    }

    .destination-col {
        padding: 0 1rem;

        @include breakpoint-up(lg) {
            padding: 0 0 0 5rem;
        }
    }

    .destination-image {
        width: 220px;

        @include breakpoint-up(lg) {
            width: auto;
        }
    }


    .destination-header {
        padding: 0 2rem;
        flex: 0 0 50px;

        @include breakpoint-up(sm) {
            padding: 0 5rem;
        }

        @include breakpoint-up(md) {
            padding: 0 10rem;
        }

        @include breakpoint-up(lg) {
            padding: 0 7rem 0 0;
        }
    }

    .destination-link {
        font-size: 1.25rem;
        padding-bottom: 0.75rem;
        position: relative;

        &::after {
            content: "";
            background: white;
            height: 3px;
            width: 0%;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: $transition-timing all;
        }

        &:hover::after {
            width: 100%;
        }

        &.active::after {
            width: 100%;
        }
    }

    .destination-title {
        font-size: 4rem;
        font-family: "Bellefair, serif";
        padding: 1rem 0;

        @include breakpoint-up(sm) {
            font-size: 4rem;
        }

        @include breakpoint-up(lg) {
            font-size: 7rem;
        }
    }

    .destination-description {
        font-size: 1.25rem;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $light;
        line-height: 35px;
        height: 150px;

        @include breakpoint-up(lg) {
            height: 180px;
        }
    }

    .destination-footer {
        padding: 2rem 0;
    }

    .destination-footer-col {
        width: 48%;
    }

    .footer-pre-heading {
        font-size: 1rem;
        letter-spacing: 2px;

        @include breakpoint-up(lg) {
            font-size: 1.125rem;
        }
    }

    .footer-heading {
        font-size: 1.75rem;
        padding: 0.5rem 0;
        letter-spacing: 1px;

        @include breakpoint-up(lg) {
            font-size: 2.25rem;
            padding: 1rem 0;
        }
    }

    // crew------------------------------------------------------------------------------------------------------------------

    .crew-row {
        padding-top: 0rem;

        @include breakpoint-up(lg) {
            padding-top: 5rem;
        }
    }

    .crew-details-col {
        padding: 3rem 0;

        @include breakpoint-up(lg) {
            padding: 4rem 0;
        }
    }

    .dot-container {
        padding-top: 2rem;
        justify-content: center;

        @include breakpoint-up(lg) {
            justify-content: start;
        }

        .dot {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: rgba($light, 0.35);
            margin-right: 2rem;

            @include breakpoint-up(lg) {
                height: 15px;
                width: 15px;
            }

            &.active {
                background-color: $light;
            }
        }
    }

    .crew-position {
        font-size: 1.5rem;
        color: rgba($light, 0.5);
        letter-spacing: 2px;

        @include breakpoint-up(sm) {
            font-size: 1.75rem;
        }

        @include breakpoint-up(lg) {
            font-size: 2rem;
        }
    }

    .crew-name {
        font-size: 2.5rem;
        letter-spacing: 3px;
        padding: 0.5rem 0;
        font-family: "Bellefair", serif;

        @include breakpoint-up(lg) {
            padding: 1rem 0;
        }
    }

    .crew-description {
        color: $secondary;
        font-size: 1.25rem;
        line-height: 30px;
        padding: 1rem 2rem;
        height: 130px;

        @include breakpoint-up(md) {
            padding: 1rem 4rem;
        }

        @include breakpoint-up(lg) {
            line-height: 35px;
            height: 190px;
            padding: 1rem 0;
        }
    }

    .crew-image {
        height: 420px;
        width: auto;
        position: absolute;
        right: 50%;
        bottom: 0;
        transform: translateX(50%);

        @include breakpoint-up(lg) {
            height: 500px;
            width: auto;
            position: absolute;
            right: 0;
            transform: translateX(0%);
        }

        @include breakpoint-up(lg) {
            height: auto;
        }
    }

    // technology

    .technology-row {
        padding-top: 22.5rem;

        @include breakpoint-up(md) {
            padding-top: 29rem;
        }

        @include breakpoint-up(lg) {
            padding-top: 0px;
        }
    }

    .tech-col-1 {
        width: 100%;

        @include breakpoint-up(lg) {
            width: 60%;
        }

        @include breakpoint-up(xl) {
            width: 68%;
        }
    }

    .tech-col-2 {
        width: 28%;
        padding-left: 4rem;
    }

    .tech-details-row {
        flex-direction: column;

        @include breakpoint-up(lg) {
            flex-direction: row;
        }
    }

    .tech-detail-col-1 {
        width: 100%;

        @include breakpoint-up(lg) {
            width: 20%;

        }
    }

    .tech-detail-col-2 {
        width: 100%;
        padding: 1rem 0;

        @include breakpoint-up(lg) {
            width: 80%;
        }
    }

    .tech-nav {
        display: flex;
        padding: 1rem 0;

        @include breakpoint-up(lg) {
            flex-direction: column;
            padding: 0;
        }
    }

    .tech-link {
        height: 40px;
        width: 40px;
        background-color: transparent;
        color: $light;
        border: 1px solid rgba($light, 0.5);
        border-radius: 50%;
        margin: 0 1rem 0 0;
        font-size: 1rem;

        @include breakpoint-up(md) {
            font-size: 1.75rem;
            height: 60px;
            width: 60px;
        }

        @include breakpoint-up(lg) {
            height: 75px;
            width: 75px;
        }

        &.active {
            background-color: $light;
            color: $dark;
        }
    }

    .tech-pre-heading {
        color: $secondary;
        font-size: 1rem;
        letter-spacing: 2px;

        @include breakpoint-up(lg) {
            font-size: 1.25rem;
        }
    }

    .tech-name {
        font-size: 2.5rem;
        font-family: "Bellefair", serif;
        padding: 0.5rem 0;

        @include breakpoint-up(md) {
            padding: 1rem 0;

        }

        @include breakpoint-up(xl) {
            padding: 1rem 0;
            font-size: 3.5rem;
        }
    }

    .tech-description {
        color: $secondary;
        font-size: 1.25rem;
        line-height: 35px;
        height: 150px;

        @include breakpoint-up(lg) {
            height: auto;
        }
    }

    .tech-image {
        position: absolute;
        right: 0;
        left: 0;
        top: 31%;
        transform: translateY(-50%);
        width: 100%;

        @include breakpoint-up(md) {
            top: 40%;
        }

        @include breakpoint-up(lg) {
            width: auto;
            top: 50%;
            left: auto;
            height: 50%;
        }
    }
}