#header {
    flex: 0 0 100px;
    padding-left: 2rem;
    margin-top: 0rem;

    @include breakpoint-up(lg) {
        margin-top: 2rem;
    }

    .logo-container {
        width: 20%;

        .logo {
            width: 40px;

            @include breakpoint-up(md) {
                width: auto;
            }
        }
    }

    .nav-links {
        height: 100%;

        @include breakpoint-up(sm) {
            position: relative;
        }

        &::before {
            content: "";
            position: absolute;
            height: 0px;
            width: 40%;
            background: $light;
            left: -17%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;

            @include breakpoint-up(lg) {
                height: 1px;
            }

            @include breakpoint-up(xl) {
                left: -10%;
                width: 50%;
            }
        }
    }

    .link-container {
        width: auto;
        background-color: rgba($light, 0.15);
        backdrop-filter: blur(30px);
        position: absolute;
        left: 50%;
        right: 0;
        flex-direction: column;
        height: 100%;
        padding: 6rem 3rem 0;
        z-index: 1;
        transform: translateX(100%);
        transition: $transition-timing all;

        @include breakpoint-up(sm) {
            transform: translateX(0);
            padding-top: 0rem;
            position: static;
            flex-direction: row;
            height: auto;
            align-items: center;
        }

        @include breakpoint-up(lg) {
            padding-left: 4rem;
            width: 85%;
        }

        @include breakpoint-up(xl) {
            width: 65%;
        }
    }

    .nav-item {
        height: auto;
        margin: 1rem 0;

        @include breakpoint-up(sm) {
            margin: 0;
            height: 100%;
        }
    }

    .nav-link {
        padding: 0 1rem;
        height: 100%;
        display: flex;
        align-items: center;

        @include breakpoint-up(md) {
            padding: 0 2rem;
        }

        &.active {
            .nav-text {
                color: rgba($light, 0.5);
                font-weight: 600;

                @include breakpoint-up(sm) {
                    color: $light;
                    font-weight: 400;
                }

                &::after {
                    @include breakpoint-up(sm) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .nav-text {
        color: $light;
        font-size: 1.25rem;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 3px;
            background: $light;
            bottom: 0;
            transition: $transition-timing all;
        }

        &:hover::after {
            @include breakpoint-up(sm) {
                width: 100%;
            }
        }
    }

    .mobile-menu {
        padding: 2rem;

        @include breakpoint-up(sm) {
            display: none;
        }
    }

    .icon-hamburger {
        transition: $transition-timing all;

        @include breakpoint-up(sm) {
            display: none;
        }
    }

    .icon-close {
        display: none;
        transition: $transition-timing all;
    }
}

#toggleMenu {
    display: none;

    &:checked {
        ~.nav-links {
            .link-container {
                transform: translate(0);
            }
        }

        ~.mobile-menu {
            .icon-hamburger {
                display: none;
            }

            .icon-close {
                display: block;
                position: absolute;
                z-index: 1;
                top: 4%;
                right: 7%;
            }
        }
    }
}